.contenido-mudanza{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
}

li{
    font-size: 1.3rem;
    color: rgb(38, 49, 131);
}

.mudanza-1{
    background-color: #f7931e;
}

.margen{
    padding: 5rem 15% 5rem 15%;
}

.mudanza-1-contenedor{
    display: grid;
    grid-template-columns:  minmax(200px, 2fr) minmax(100px, 1fr);
    align-items: center;
    color: white;
}

.mudanza-1 h1{
    font-size: 4rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

.mudanza-1-texto p{
    font-size: 1.3rem;
}

.mudanza-1-presupuesto{
    color: black;
    text-align: center;
    width: 20rem;
    padding: 2rem;
    background-color: white;
    border-radius: 20px;
    justify-self: end;
}

.mudanza-1-presupuesto p{
    font-weight: 500px;
    font-size: 1rem;
}

.mudanza-1-presupuesto-numeros{
    font-size: 20px;
    color: #f7931e;
}

.mudanza-2-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.mudanza-2-imagenes {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: min-content; /* cada fila toma el alto mínimo necesario */
    gap: 2rem;
    align-items: start;
}

.mudanza-2-img1 {
    grid-row: 1/3;
    border-radius: 3rem;
    width: 18rem !important;
    height: 40rem;
}

.mudanza-2-img2 {
    border-radius: 3rem;
    width: 22rem !important;
    height: 25rem;
}

.mudanza-2-img3 {
    border-radius: 3rem;
    width: 22rem !important;
    height: 13rem;
}

.mudanza-2-texto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mudanza-2-texto a{
    width: 15rem;
}

.mudanza-3{
    background-color: rgb(114, 4, 187);
}

.mudanza-3{
    background-color: rgb(132, 197, 197);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5rem;
    color: black;
}

.formulario input,
.formulario select,
.formulario textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

.fila-doble, .fila-direcciones {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.fila-doble input, .fila-direcciones input {
    color: black;
    width: 100%;
}

.fila-direcciones img {
    align-self: flex-start;
    min-width: 3rem;
    width: 8%;
}

.formulario input:focus,
.formulario select:focus,
.formulario textarea:focus {
    border-color: #3498db;
    outline: none;
}

/* Botón de envío */
.formulario button {
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario button:hover {
    background-color: #2980b9;
}

.mudanza-5{
    background-color: rgb(215, 235, 43);
}

.mudanza-6{

}

.mudanza-7{
    background-color: rgb(101, 236, 89);
}